
@{
    ViewData["Title"] = "Index";
}

<style>
    .card {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

        .card:hover {
            transform: scale(1.02); /* Kartın hafifçe büyümesini sağlar */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Gölge efekti ekler */
        }
</style>

@model List<DerslerModel>

@for (int i = 0; i < Model.Count; i += 4)
{
    <div class="container-fluid">
        <div class="row mb-3">
            <div class="col-6">
                <a asp-area=" " asp-controller="Dersler" asp-action="DatabaseManagement">
                    <div class="card bg-dark text-white">
                        <img class="card-img" src="images/databasemanagement.png" alt="Card image">
                        <div class="card-img-overlay">
                            <h5 class="card-title">@Model[i].Title</h5>
                            <p class="card-text">@Model[i].Content1</p>
                            <p class="card-text">@Model[i].Date</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-6">
                <a asp-controller="Dersler" asp-action="OperatingSystems">
                    <div class="card bg-dark text-white">
                        <img class="card-img" src="images/OperatingSystems.png" alt="Card image">
                        <div class="card-img-overlay">
                            <h5 class="card-title">@Model[i+1].Title</h5>
                            <p class="card-text">@Model[i+1].Content1</p>
                            <p class="card-text">@Model[i+1].Date</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <a asp-controller="Dersler" asp-action="ComingSoon">
                    <div class="card bg-dark text-white">
                        <img class="card-img" src="images/ComingSoon.png" alt="Card image">
                        <div class="card-img-overlay">
                            <h5 class="card-title">@Model[i+2].Title</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-6">
                <a asp-controller="Dersler" asp-action="ComingSoon">
                    <div class="card bg-dark text-white">
                        <img class="card-img" src="images/ComingSoon.png" alt="Card image">
                        <div class="card-img-overlay">
                            <h5 class="card-title">@Model[i+3].Title</h5>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
}
