
@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<style>
    .card {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

        .card:hover {
            transform: scale(1.02); /* Kartın hafifçe büyümesini sağlar */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Gölge efekti ekler */
        }

    .col-2 {
        style ="background: linear-gradient(180deg, #141e30, #0d1b2a);
        color: #fff;
        min-height: 100vh;
    }

    .container-fluid {
        overflow-x: hidden;
    }

    .card-body {
        color: white; /* Change text color to black */
    }

    .card-title, .card-text {
        color: white; /* Ensure titles and text inside cards are black */
    }

    .container-fluid {
        overflow-x: hidden;
    }

    .card {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

        .card:hover {
            transform: scale(1.02); /* Kartın hafifçe büyümesini sağlar */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Gölge efekti ekler */
        }

</style>

@model List<KurslarModel>

@for (int i = 0; i < ViewBag.Kurslar.Count; i += 4)
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                <partial name="_MainSidebarPartialView" />
            </div>
            <div class="col-10">
                <div class="row mt-2 mb-3">
                    <div class="col-6">
                        <div class="card" style="background: linear-gradient(180deg, #2c3e50, #34495e, #1c2b36);">
                            <div class="ratio ratio-16x9">
                                <iframe src="@ViewBag.Kurslar[i].Link" title="ESP32 Dersleri" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">@ViewBag.Kurslar[i].Title</h5>
                                <p class="card-text">@ViewBag.Kurslar[i].Content</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card" style="background: linear-gradient(180deg, #2c3e50, #34495e, #1c2b36);">
                            <div class="ratio ratio-16x9">
                                <iframe src="@ViewBag.Kurslar[i+3].Link" title="Nextion Dersleri" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">@ViewBag.Kurslar[i+3].Title</h5>
                                <p class="card-text">@ViewBag.Kurslar[i+3].Content</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-6">
                        <div class="card" style="background: linear-gradient(180deg, #2c3e50, #34495e, #1c2b36);">
                            <div class="ratio ratio-16x9">
                                <iframe src="@ViewBag.Kurslar[i+1].Link" title="ESP32 Dersleri" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">@ViewBag.Kurslar[i+1].Title</h5>
                                <p class="card-text">@ViewBag.Kurslar[i+1].Content</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card" style="background: linear-gradient(180deg, #2c3e50, #34495e, #1c2b36);">
                            <div class="ratio ratio-16x9">
                                <iframe src="@ViewBag.Kurslar[i+2].Link" title="Nextion Dersleri" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">@ViewBag.Kurslar[i+2].Title</h5>
                                <p class="card-text">@ViewBag.Kurslar[i+2].Content</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

